In [1]:
student = {
    "first name" : "ahmed",
    "last name" : "ali",
    "age" : 25,
    "designation" : "student",
    "institue" : "Dhoraji"
}

In [3]:
student["first name"]

25

In [4]:
student["last name"]

'ali'

In [5]:
student["age"]

25

In [7]:
# Looping through values

In [6]:
for i in student.values():
    print(i)

ahmed
ali
25
student
Dhoraji

In [8]:
# Looping through keys

In [9]:
for i in student.keys():
    print(i)

first name
last name
age
designation
institue

In [11]:
# Looping through items

In [17]:
for key, value in student.items():
    print( str(key) + ": " + str(value))

first name: ahmed
last name: ali
age: 25
designation: student
institue: Dhoraji

# list of dictionaries

In [36]:
database = [
    {   
        "userid" : 1, 
        "first name" : "salman",
        "last name" : "abdul zakir"
    },
    
    {
        "first name" : "ahmed",
        "last name" : "ali",
        "userid" : 500,
        
    },
    {
        "first name" : "ovais",
        "last name" : "jahanzaib",
        "userid" : 3,
    }
]

In [37]:
uid = int(input("Enter UID to get information "))

Enter UID to get information 500

In [38]:
for single_dic in database:
    if single_dic["userid"] == uid:
        print(single_dic)

{'first name': 'ahmed', 'last name': 'ali', 'userid': 500}

In [40]:
# appending data in list of dictionaries

In [41]:
student = {
    "first name" : "ibrahim",
    "last name" : "ameen",
    "userid" : 5,
}

In [44]:
database.append(student)

In [43]:
database

[{'userid': 1, 'first name': 'salman', 'last name': 'abdul zakir'},
 {'first name': 'ahmed', 'last name': 'ali', 'userid': 500},
 {'first name': 'ovais', 'last name': 'jahanzaib', 'userid': 3},
 {'first name': 'ibrahim', 'last name': 'ameen', 'userid': 5}]