# Dictionary of Lists

In [4]:
student = {
    "name" : "abc",
    "institue" : "Dhoraji",
    "age" : 20,
    "subject" : [input("Enter Sub 1") , input("Enter Sub 2"), input("Enter Sub 3")]
    
}

Enter Sub 1math
Enter Sub 2eng
Enter Sub 3urdu

In [7]:
student["subject"][1]

'eng'

# Dictionary of Dictionaries

In [8]:
database = {
    "salman" : {
        "name" : "salman",
        "age" : 23,
        "subjects" : ["math" , "phy", "comp"]
    },
    
    "ovais" : {
        "name" : "ovais",
        "age" : 23,
        "subjects" : ["math" , "eng", "urdu"]
    }
}

In [10]:
database["ovais"]

{'name': 'ovais', 'age': 23, 'subjects': ['math', 'eng', 'urdu']}

# Functions

In [18]:
def add_numbers():
    num1 = 2
    num2 = 4
    total = num1 + num2
    print(total)

In [19]:
add_numbers()

6

# passing information to function

In [33]:
def calc(firstnum, lastnum, operator):
    if operator == "+":
        total = firstnum + lastnum
        print(total)
    
    elif operator == "-":
        total = firstnum - lastnum
        print(total)
        
    else:
        print("undefined Operator")

In [34]:
calc(14, 160, "*")

undefined Operator